<div class="row">
    <%= render 'aside' %>
    <div class="col-md-8">
        <h3>いいね！ 一覧 (<span id="like-titlecount-<%= @user.id %>"><%= @microposts.count %></span>) </h3>
        <% @microposts = @microposts.page params[:page] %>
          <ol class="microposts">
            <%= render @microposts.page params[:page] %>
          </ol>
        <%= paginate @microposts %>
    </div>
</div>